#################################################
# Node
#################################################

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#################################################
# Environment
#################################################

.env
.env.*
!.env.example
!.env.docker.example

#################################################
# Build
#################################################

dist/
build/
coverage/

#################################################
# Logs
#################################################

logs/
*.log

#################################################
# OS
#################################################

.DS_Store
Thumbs.db

#################################################
# IDE
#################################################

.vscode/
.idea/

#################################################
# Docker
#################################################

docker-data/

#################################################
# Misc
#################################################

*.local